body{
  text-align: center;
  background-color: #f2fdfc;
  color: #1fa89b;
}

input{
  text-align: center;
  color: #1fa89b;
  background-color: rgba(31, 168, 155, 0.3);
  border-style: none;
  border-width: thin;
  border-color: rgb(31, 168, 155);
  border-radius: 3px;
}

button{
  width: 100%;
  height: 2rem;
  color: whitesmoke;
  background-color: #1fa89b;
  transition-property: background-color transform;
  transition-duration: 250ms;
  border-style: none;
  border-radius: 3px;
}

button:hover{
  background-color: #1a857a;
  transform: translateY(2px);
}

#form-divs{
  display: flex;
  justify-content: center;
}

#form-divs form{
  flex-basis: 400px;
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
}

#form-divs form input{
  width: 100%;
}

#form-divs form button{
  margin-top: 10px;
}

#user-div{
  display: flex;
  white-space: nowrap;
}

#user-div input{
  margin-left: 5px;
}

#description-div label{
  display: flex;
}

#userId-div{
  display: flex;
  margin-bottom: 5px;
}

#userId-div input{
  margin-left: 5px;
}

#description{
  width: 100%;
}

#duration-div{
  display: flex;
  height: 31.8px;
  margin-top: 15px;
}

#duration-div input{
  margin-left: 5px;
  margin-right: 2px;
}

#date-div{
  display: flex;
  margin-top: 15px;
}

#date-div input{
  text-align: left;
  margin-left: 5px;
}

@media (max-width: 575.98px) {
  #form-divs{
    flex-direction: column;
  }
  #form-divs form{
    flex-basis: unset;
  }
}